<input type="text" #myInput>
<button (click)="search(myInput.value)" #myBtn>Search</button>

<table>
    <thead>
        <tr>
            <th>Sr #</th>
            <th>Name</th>
            <th>Age</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index;">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>
                <button (click)="selectUser(user)">Select</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedUser">
    <h2>
        Selected User
    </h2>

    <p>Name: {{selectedUser.name}}</p>
    <p>Age: {{selectedUser.age}}</p>
</div>

