<table>
    <thead>
        <tr>
            <th>Sr #</th>
            <th>Name</th>
            <th>Age</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index;">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>
                <button>Select</button>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <h2>
        Selected User
    </h2>

    <p>Name: </p>
    <p>Age: </p>
</div>

