<app-container></app-container>





















<!-- <input type="text" [(ngModel)]="inputVal">
<button (click)="search()" #myBtn>Search</button>

{{inputVal}}


<app-user-list [users]="filteredUsers" (onSelect)="onUserSelect($event)" [title]="inputVal"></app-user-list>

<app-user-list [users]="dummyUsers" (onSelect)="onDummySelect($event)" title="Dummy User List"></app-user-list> -->

<!-- <button [disabled]="inputVal" (click)="onDummySelect($event)">Click</button> -->

<!-- <app-selected-user [user]="selectedUser"></app-selected-user> -->